@tailwind base;
@tailwind components;
@tailwind utilities;

.buttons div{
    border: 1px solid black;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
    border-radius: 10px;
    background: white;
}

.buttons div:hover{
    opacity: .8;
}

#equal{
    grid-area: auto;
}