@tailwind base;
@tailwind components;
@tailwind utilities;

.buttons div{
    border: 1px solid red;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
    border-radius: 50%;
}

sub{
    font-size: 7px;
}